body{
    margin: 0;
    padding: 0;
    background: url('/static/mcu.JPG'); 
    background-color: rgba(202, 203, 207, 1);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}

.loginbox{
    padding: 40px;
    width: 36vw;
    min-width: 370px;
    height: 490px;
    background: rgba(234, 234, 234, 0.75);
    color: #fff;
    top: 44%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 5%;
    box-shadow:  2px 8px 15px rgba(0, 0, 0, 0.2);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 37px;
    color: #262626;
}

.datang{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 37px;
    color: #262626;
    margin-top: 6%;
}

.tulisan{
    color: #262626;
    font-size: 25px;
    text-align: left;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    
}

.isibox{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #262626;
    font-size: 16px;
   

}
.tombol{
    border: none;
    outline: none;
    height: 40px;
    margin-top: 30px;
    background-color: rgba(102, 107, 113, 1);
    border-radius: 10px;
    color: #fff;
}
.tombol2{
    border: none;
    outline: none;
    height: 40px;
    width: 300px;
    margin-top: 30px;
    background-color: rgba(102, 107, 113, 1);
    border-radius: 10px;
    color: #fff;
}

.tengah{
    text-align: center;
}